[2013-09-28 22:48] dret opened #1 "structure media type documentation"
ideally, media type documentation should be more structured than just one link. it is important to document aspects of extensibility, the processing model, and possible interactions with media type documents. all of these aspects should be covered by a media type definition and its documentation, and thus sedola probably should be able to link to those individually.

[2013-09-29 00:20] dret opened #2 "remove XML identifiers"
it seems that the @xml:id identifiers add little or no value, and make management and the language quite a bit more complex. it should be possible to simply remove them, and rely on the identified concept itself (the media type, the link relation, and so forth). this needs a little testing, but ideally, all @xml:id should be removed from the XSD and all instanced (and then of course the XSLT needs

[2013-09-29 00:24] dret opened #3 "explicitly reuse concepts when using include"
just including another sedola document should not automatically use _all_ of the concepts in that document. instead, the including document should have to explicitly list all of those concepts that it intends to reuse. this allows to also _not_ use concepts when they are not required and should not be considered as being used.
this could be augmented by a "include-all-concepts" attribute on <inclu

[2013-10-05 04:17] #2 closed, assigned to dret

[2013-10-07 15:06] dret opened #4 "support for well-known URI"
maybe add support for http://www.iana.org/assignments/well-known-uris/well-known-uris.xml would be useful, allowing services to say how they support this mechanism. this could be another top-level mechanism, just like media types, HTTP headers, and all the other current top-level mechanisms in sedola.

[2013-10-11 00:19] dret opened #5 "HTTP Prefer"
with http://tools.ietf.org/html/draft-snell-http-prefer, it might be interesting to look at preferences as another mechanism how a service can design/expose its interface. it basically follows the model of other mechanisms that have some general framework, and then a registry to support expressions in that framework. there is no clear "extension model" for preferences; unknown ones simply are igno

[2014-08-06 20:03] dret opened #6 "ABNF dependencies"
the simple ABNF (just for HTTP headers for now) markup added to sedola.xsd (https://github.com/dret/sedola/commit/fea7cac5e47a0b8e188613a2777bb06b262e490b) does not allow to capture dependencies. but many of the specs reuse existing production rules from the HTTP spec. it would be possible to (a) require that all ABNF much be self-contained (resulting in a lot of duplication), or (b) add some mech

[2015-01-22 02:21] dret opened #7 "Media Type Parameters"
Currently, there is no support for capturing media type parameters. It would be relatively easy to add this to the Sedola schema, if required and requested.

[2015-02-16 18:48] dret opened #8 "Support for updated specification"
RFC 4918 registers all the headers of RFC 2518 (which it updates), except for one (Status-URI, just added here: https://github.com/dret/sedola/commit/a58dff38a14cb50fd18b5b40ae813fe832bc42bf). currently, there is no way to properly represent this dependency, so that one spec can say that it updates another, and then overwrites whatever also has been specified in the updated spec.
This might get as

[2015-03-09 09:31] dret opened #9 "improve title generation for MD lists"
https://github.com/dret/sedola/commit/156b0aaae505fcafc0f85e62e399c0a769c20d4f shows how the current way of generating titles from spec URIs does not work reliably enough. some improvement is needed, either better rules, or the ability to explicitly define a title.

[2015-07-21 17:21] dret commented on #8
another example: LDP updates "describedby" (originally from POWDER) at http://www.w3.org/TR/ldp/#link-relation-describedby

[2015-07-21 17:29] dret commented on #8
added LDP "describedby" at https://github.com/dret/sedola/commit/0e8e6f23902da1f92b68f7f5acd12dc10e60b3a3 (currently this results in a duplicate entry in the linkrel list)

[2015-08-27 05:04] dret commented on #8
not perfect, but at least grouping header fields with the same name in one table row: https://github.com/dret/sedola/commit/5e4b0a9938694001e8c84cf79d83d5c633cfcff3

[2016-03-02 16:21] dret opened #11 "Add HTML5"
https://github.com/dret/sedola/commit/1382085f73fd79c2b0706283178cfef38fc4a561 removed an "HTML5 description" that was just a copy of html4. A proper description of HTML5 is required.

[2016-03-23 07:02] dret commented on #3
the last refactoring round changed "include" to "import" and supports more explicit reuse of concepts. instead of a blanket "include", one "import"s a service, and then specifies which concepts one is actually using. still needs to be backed up by code processing the imports, but that's the general direction.

[2016-03-23 07:21] dret commented on #9
fixed in https://github.com/dret/sedola/commit/b464977a142e6a3459c719689dcdfc60a6db5009, but all of this has to be rewritten anyway to handle the new ID mechanism.

[2016-03-23 07:21] #9 closed

[2016-03-23 07:23] dret commented on #8
generally speaking, these kinds of dependencies maybe should better be described externally. at least until there's a clear requirement for the kinds of dependencies that need to be describable.

[2016-04-20 12:35] dret opened #12 "Handle ABNF"
the current sedola schema allows ABNF (only in HTTP header fields so far), but there is no support in the current MD transformation. for properly formatting ABNF, whitespace management might become important. ABNF can be multi-line. maybe a good starting point would be to break into lines, then to remove any leading and trailing whitespace, and then use the ABNF.
https://github.com/dret/sedola/com

[2016-06-07 10:32] dret opened #13 "Add more "Web surface" concepts"
right now the only concepts supported are media types, HTTP header field types, and link relation types. There definitely should be HTTP status codes as well. This issue serves to capture ideas about additional concepts that "belong into the web surface" and should be documented in a similar way as media types, HTTP header field types, and link relation types are documented right now.

[2016-06-09 07:52] dret commented on #13
this is presented as a 5in5 talk at the WS-REST workshop: https://github.com/apiacademy/WSREST2016/wiki/Web-Surface

[2016-06-17 01:14] dret commented on #13
another inspiration for additional web surface coverage are HTTP cache control extensions from @comcast-jonm's API360 talk. one example is this RFC: https://tools.ietf.org/html/rfc5861

[2016-06-22 12:34] dret commented on #13
for the cache control extensions, the relevant IANA registry of "HTTP Cache Directives" is here: http://www.iana.org/assignments/http-cache-directives/http-cache-directives.xhtml

[2016-06-22 12:36] dret opened #14 "Add HTTP Status Codes"
spawned from #13.

[2016-06-22 12:37] dret opened #15 "Add HTTP Request Methods"
spawned from #13.

[2016-06-22 12:37] dret opened #16 "Add Content Encodings"
spawned from #13.

[2016-06-22 12:38] dret opened #17 "Add HTTP Cache Directives"
spawned from #13.

[2016-06-22 12:39] dret commented on #13
the proposals made so far have their own issues now (#14 #15 #16 #17). this issue will remain open as a general discussion topic for adding even more concepts beyond those identified so far.

[2016-06-22 14:01] dret commented on #17
https://github.com/dret/sedola/commit/491ec2c0aa02f6a4624a37c9d816a1e27642a7c0 (and related) commits are a first stab at generating the cache directive list. things are looking good so far, but the copy/paste method of the current MD-generating code really should be refactored into something more declarative and extensible.

[2016-06-23 08:55] dret commented on #14
minimal framework is there, adding all codes from http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml is quite a bit of busy work but shouldn't be too hard. once those are added, this issue probably can be closed.

[2016-06-23 17:17] dret commented on #14
added all of the status codes in the IANA registry; if there are any others out there, those are missing right now, but apart from that, this issue can be closed with those recent additions.

[2016-06-23 17:17] #14 closed

[2016-06-23 17:18] dret commented on #17
apart from the general refactoring of the code, the list of HTTP cache directives seems to be exhaustive enough to close this issue.

[2016-06-23 17:18] #17 closed

[2016-06-30 18:22] dret commented on #15
today's commits should be complete in adding all (certainly most) HTTP methods from http://www.iana.org/assignments/http-methods/http-methods.xhtml, which should be good enough for a start.

[2016-06-30 18:22] #15 closed

[2016-07-07 13:42] dret commented on #13
not mentioned here originally, but the (old) issue #4 falls into this generic one as well.

[2016-07-07 13:44] dret commented on #5
not sure if/how this one is expected to develop, maybe @jasnell can pitch in?

[2016-07-07 13:45] dret commented on #13
#5 qualifies as well, but is based on a long-expired draft, so probably not (yet) ready for prime time.

[2016-07-24 06:54] pgroth opened #18 "Terms/data definitions as web concepts?"
Would something like
http://www.w3.org/TR/prov-dm/
be appropriate for web concepts?

[2016-07-26 00:54] dret commented on #18
On 2016-07-23 23:54, Paul Groth wrote:

thanks for the feedback. my thinking is that web concepts should be
strictly about things that are visible at the web level. PROV-DM and
other RDF vocabularies are not visible at the web level. they are not
even visible as a media type (in which case they could be added to
http://webconcepts.info/concepts/media-types). they become visible at
the semantic web

[2016-07-30 06:06] dret commented on #16
added the concept via https://github.com/dret/webconcepts/commit/b8d4eb57bd58b5458b52fe9a81d2fb3eb7042da1, but still need to add more than just the newly published RFC 7932.

[2016-08-02 01:11] dret commented on #16
https://github.com/dret/webconcepts/commit/db5cd76f36b90adda29a4436ec11a9807368f6fa adds the final registered value and thus closes this issue.

[2016-08-02 01:11] #16 closed

[2016-08-02 01:12] dret opened #19 "Add HTTP Transfer Codings"
http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#transfer-coding should be added as well. this is related to #13.

[2016-08-02 01:13] dret opened #20 "Add HTTP Forwarded Parameters"
http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#forwarded should be added as well. this is related to #13.

[2016-08-02 01:13] dret opened #21 "Add HTTP Preferences"
http://www.iana.org/assignments/http-parameters/http-parameters.xhtml#preferences should be added as well. this is related to #13.

[2016-08-02 22:13] dret opened #22 "Add /.well-known"
http://www.iana.org/assignments/well-known-uris/well-known-uris.xhtml is another registry that is a part of today's web toolbox. per #13, this probably should be added to the list of web concepts. the relevant spec is https://tools.ietf.org/html/rfc5785.

[2016-08-03 22:14] dret commented on #22
https://github.com/dret/webconcepts/commit/426941f902521947771386c819f6c66d73965b9d and related commits are a starting point, but the registry is quite a bit bigger than that.

[2016-08-04 23:19] dret commented on #5
the draft has been published as RFC 7240 and has been added http://webconcepts.info/specs/IETF/RFC/7240 for a little while (because of the header fields).

[2016-08-04 23:21] dret commented on #5
as for the associated registry, this has been established with the RFC and #21 mentions it.

[2016-08-04 23:22] dret commented on #21
this is a duplicate of #5.

[2016-08-04 23:22] #21 closed, assigned to nobody

[2016-08-05 19:29] dret commented on #19
https://github.com/dret/webconcepts/commit/5a8e2c288b94dac71cc1469f4eaff9a7e5cde3ed and https://github.com/dret/webconcepts/commit/4109767205990a8346c631aa52fc5f1dd2819c41 / https://github.com/dret/webconcepts/commit/12c52af97069b680b9f4415d478fc1c91bab6345 add the concept and the currently registered values and thus close this issue.

[2016-08-05 19:29] #19 closed, assigned to nobody

[2016-08-05 19:30] dret commented on #20
https://github.com/dret/webconcepts/commit/fa8adae5c37ee2883af60ba0d1aff7708d8c3f91 and https://github.com/dret/webconcepts/commit/561acaad7930d68fd05a51ad3791164204a1b0cf and the concept and the currently registered values and thus close this issue.

[2016-08-05 19:30] #20 closed, assigned to nobody

[2016-08-05 19:31] dret commented on #13
almost done with this one, just a few more #22 values to add.

[2016-08-05 19:32] dret commented on #12
not sure ABNF is making a lot of sense, it seems too specific. https://github.com/dret/webconcepts/commit/99ec5b0ec6cc35d2fabc45f4bcbaa487fc0f85aa removes the few snippets that were added as an experiment. closing this for now, maybe re-open if the need ever arises to capture ABNF.

[2016-08-05 19:32] #12 closed

[2016-08-05 19:33] dret commented on #6
this goes even further than #12, so closing this along with #12 for now.

[2016-08-05 19:33] #6 closed

[2016-08-07 02:43] dret opened #23 "Add URI Schemes"
adding URI schemes would make a lot of sense. another addition to the general issue #13.

[2016-08-08 01:26] dret commented on #23
https://github.com/dret/webconcepts/commit/43c2562a58b55b39c893c945d58895f3ce0a410d and https://github.com/dret/webconcepts/commit/13f3fc48c6cd19255c37868190881d29770ab0dc are a start, but seeing the size of http://www.iana.org/assignments/uri-schemes/uri-schemes.xhtml, it might take a while to add all of them (even though many of the ones in the registry look a bit fishy).

[2016-09-17 04:11] dret commented on #4
http://webconcepts.info/update/2016/08/03/adding-well-known-uris.html took care of that a little while ago. they now live at http://webconcepts.info/concepts/well-known-uris

[2016-09-17 04:11] #4 closed

[2016-09-17 04:15] dret opened #24 "identifiers for web concepts"
what kind of identifier should web concepts have? there are probably three general design choices:
- a simple non-URI identifier such as `http-method:GET`
- a dereferencable URI such as `http://webconcepts.info/concepts/http-method/GET`
- a non-dereferencable URI such as `urn:webconcept:http-method:GET`

all these methods have pros and cons, i'd be interested to hear opinions.

[2016-09-17 17:18] arno-di-loreto opened #25 "JSON Format for each concept value"
We can get all concepts in JSON with this URL http://webconcepts.info/concepts/concepts.json, but it would be a great addition to be able to access each concept value individually as a json file.
For example: http://webconcepts.info/concepts/http-status-code/409.json

[2016-09-17 18:04] dret commented on #25
please review and close if you're happy.

[2016-09-17 18:07] arno-di-loreto commented on #25
Perfect! Thanks Erik!

[2016-09-17 18:16] dret commented on #25
keep the requests coming! i am particularly interested in ideas what to cover beyond the concepts currently listed here: http://webconcepts.info/concepts/

[2016-09-17 19:49] dret commented on #25
@mitraman voiced concerns over using the concept name as the object key in the concepts JSON, saying that would be harder to parse. i am wondering what my current JSON beta users think about that? @kinlane @arno-di-loreto

[2016-09-18 00:47] kinlane commented on #25
I agree with him....that it would add some overhead. I flip flop on this type of thing....one week I'd feel it adds overhead, while the other I think it defines it better and allows you to be more precise in code....in the end I'm 50/50 about it. ;-0

[2016-09-18 02:58] dret commented on #25
so be be more concrete, the current version is this:

[code]

i think (but i may be wrong) that @mitraman would prefer something like this:

[code]

and while we're at it, we could for good measure also add the concept "type", so that it makes more sense as a standalone JSON:

[code]

if we go this route, then i think for consistency the `specs.json` and `concepts.json` files should follow the sam

[2016-09-18 15:03] arno-di-loreto commented on #25
Going that way, having in mind a (hypermedia) API providing webconcepts information and given that these files are what you want to provide to end users, I'd simply remove the "concept" key into individual files:

[code]

And in the list file (concepts.json), I would replace the map with an array:

Before:

[code]

After:

[code]

An alternative could be having the array in a property (so later yo

[2016-09-18 15:19] arno-di-loreto commented on #25
DNS gods be praised! http://api.apistylebook.com/design/topics.json
You, Kin and Ronnie have private access to this alpha version of the API Stylebook API 😉

[2016-09-18 15:22] dret commented on #25
thanks for suggestions and access, i'll have a look later today or tomorrow. @ronnie, would those changes make you happy? (and as usual, it really sucks that JSON has no comments!)

[2016-09-19 23:47] dret commented on #25
btw, just another question since i'll have to refactor the JSON generation anyway: would it make sense to also separate generate JSON for each individual concept? so that for example there would be one JSON just containing http://webconcepts.info/concepts/http-headers, so to speak? that right now is a gap between the "all concepts" JSON, and the individual JSON for each concept value that started

[2016-09-21 14:35] mitraman commented on #25
I'm not overly worried about the JSON format as long as the data is easy for me to find.

The reason I suggest an explicit name property is that I expect to grab these concepts based on a URL reference.  My tool isn't going to know it's looking for a 404 - it just knows it needs to pickup a concept from webconcepts.info/rfcnumber/404.  So having a property in the JSON named "404" isn't helpful.

I

[2016-09-22 07:33] dret commented on #25
On 2016-09-21 16:35, Ronnie Mitra wrote:

absolutely; this is a very good point. because in the end that's about
the question how concepts and values are identified, so that they then
can be related via those identifiers. because this is a pretty
fundamental issue (and probably one that should be resolved better
sooner than later), this is tracked separately in #24.

[2016-09-22 07:38] dret commented on #25
new JSON ready for review... http://webconcepts.info/update/2016/09/22/JSON-refactoring.html
curious to hear what you guys think. and sorry @kinlane for breaking your stuff. but i thought @mitraman had a point and wanted to make the JSON more self-contained so that smaller snippets still make sense. which makes #24 an important thing to get right...

[2016-09-22 07:40] dret commented on #24
particularly interesting is how the identifier translates to people adding their own concepts and values. i am considering having a registry for the concepts, and then the registry entry for the concept has to say where to look up values. does that make sense?

[2016-09-23 17:53] kinlane commented on #25
No breakage on my end. I'm still just playing with possibilities. I will provide any pros / cons regarding effect of my tooling.

[2016-09-24 02:41] dret commented on #25
great, thanks! so if it works good enough for all, i guess we can go ahead and close this one. thanks all for the feedback!

[2016-09-24 08:05] arno-di-loreto commented on #25
First thoughts after only looking at the 2 examples provided in the blog post (I'll give a deeper look by trying to use the web concepts data with apistylebook.com):
- I like having id as URL because it makes the data (almost) browsable even without having choosen an hypermedia type (almost because I have to add ".json" to new request in Postman :-)
- I LOVE the name-singular and name-plural prope

[2016-09-25 21:21] dret commented on #25
On 2016-09-24 10:05, Arnaud Lauret wrote:

the wonders of web architecture: use URIs as IDs and make them resolvable.

thanks. driven by my requirement to generate the web site from my data.

yes, this is correct. there is a technical reason for this which is that
jekyll sucks. but in the end it shouldn't matter this much if everything
is interlinked, right? i agree that it would be nice to have t

[2016-10-03 09:32] dret opened #28 "how to handle concept values with multiple definitions"
as mentioned in https://github.com/dret/webconcepts/issues/25#issuecomment-249447466, currently it is possible for a concept value to have more than one definition (http://webconcepts.info/concepts/http-header/Authorization is an example with 3 definitions). in order to better find and analyze these cases, it would be useful to have a page that simply lists all of these values. this page could rem

[2016-10-04 20:07] dret opened #29 "add OAuth concepts and values"
add OAuth concepts/values as listed here: http://www.iana.org/assignments/oauth-parameters/oauth-parameters.xhtml
- OAuth Access Token Types
- OAuth Authorization Endpoint Response Types
- OAuth Dynamic Client Registration Metadata
- OAuth Extensions Error Registry
- OAuth Parameters
- OAuth Token Endpoint Authentication Methods
- OAuth Token Introspection Response
- OAuth Token Type Hints
- OAuth

[2016-10-04 20:21] dret commented on #29
this issue is related to the more general #13

[2016-10-04 20:23] dret commented on #29
https://github.com/dret/webconcepts/commit/931f43737e10077ba16fe2cb494969571d94831a adds "OAuth Token Type Hints", so the remaining open list is:
-    OAuth Access Token Types
-   OAuth Authorization Endpoint Response Types
-    OAuth Dynamic Client Registration Metadata
-   OAuth Extensions Error Registry
-    OAuth Parameters
-    OAuth Token Endpoint Authentication Methods
-    OAuth Token Intr

[2016-10-14 12:59] tpluscode opened #30 "Add Auth scheme concept?"
I was looking for a list of Authorization schemes. There is the IANA registry: http://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml

Is there a good reason to duplicate that list on webconcepts? If there are other well-known schemes around, maybe so?

[2016-10-14 15:43] dret commented on #30
On 2016-10-14 14:59, Tomasz Pluskiewicz wrote:

i don't know how this one escaped my attention so far! thanks for
pointing it out, and i'll try to get to it asap. i think this one is
actually a good one because supporting the same schemes is pretty
essential for interop, so being able to surface them as a web concept is
probably useful.

[2016-10-15 18:06] dret commented on #29
http://webconcepts.info/update/2016/10/15/adding-oauth.html concludes a first push to get most things covered. so far, this only covers IETF specs. The OpenID specs still need to be added.

[2016-10-16 17:00] dret commented on #30
On 2016-10-14 14:59, Tomasz Pluskiewicz wrote:

http://webconcepts.info/update/2016/10/16/adding-http-auth-schemes.html
announces the addition of this new concept. once again, thanks for the
suggestion. if you think that the values added so far are good enough as
a starting point, please close the issue.

[2016-10-19 06:36] tpluscode commented on #30
I do not have anything to add. Thanks for adding this

[2016-10-19 06:36] #30 closed, assigned to nobody

[2016-11-12 23:36] nynymike opened #31 "Add JWT as access token type"
In the page [Oauth Access Token Types](http://webconcepts.info/concepts/oauth-access-token-types) Bearer and MAC are listed, but I think JWT is missing.  [RFC 7519](https://tools.ietf.org/html/rfc7519#section-10.2.1)  specifies it.

[code]

[2016-11-12 23:40] nynymike opened #32 "Add license"
I can't find the license for this repository. Can you add one?

[2016-11-13 01:50] nynymike commented on #31
I guess I'm wrong about this... a JWT is still a bearer token (just like a SAML assertion can be a bearer token). I'm going to post to the OAuth mailing list to see why they don't want this as a token type. It seems like it would be descriptive...

[2016-11-13 03:31] #31 closed, assigned to nobody

[2016-11-13 04:54] dret commented on #31
On 2016-11-12 17:50, Mike Schwartz wrote:

seems like there's nothing to do for me after all. but thanks to
pointing to that MAC draft, and if you find anything else, definitely
let me know. thanks!

[2016-11-13 05:14] dret commented on #32
On 2016-11-12 15:40, Mike Schwartz wrote:

i should definitely do that, thanks for the suggestion!

[2016-11-13 19:07] tpluscode opened #33 "Missing RFC 3986 - Uniform Resource Identifier"
I was very surprised that the web concepts pages do not include any URI specification. I do see that there isn't a good category for that as a concept.

Maybe there should be a new category created such as **Basic concepts** or similar?

[2016-11-13 20:28] dret commented on #33
On 2016-11-13 11:07, Tomasz Pluskiewicz wrote:

and that's the reason. unless the spec itself registers a bunch of
concept values (such as RFC5988 registering link relations), the spec
does not show up. i agree that this is potentially confusing, but it is
logical given the setup as it is so far.

any idea how you would like these things to show up?

i have added something a tiny bit similar by al

[2016-11-14 09:37] tpluscode commented on #33
In all fairness it's not really about the spec but about the fundamental itself. Isn't URI a very important concept? I wonder though what other fundamentals could belong to such a category on the web concepts site

[2016-11-15 02:18] dret commented on #33
On 2016-11-14 01:37, Tomasz Pluskiewicz wrote:

again, i do not object to your concerns. it simply does not fit into the
current setup, and that is why it's not there.

what about this:
- each concept can have 0-n "foundation specs".
- the foundation specs are listed prominently on the concept's page.
- the foundation specs show up in the spec list and their individual
  landing pages indicate whi

[2016-11-15 17:21] dret commented on #32
if this addresses the issue, please close it. thanks for the suggestion!

[2016-11-15 17:26] dret commented on #23
just for reference: http://webconcepts.info/concepts/uri-schemes is where the current list of URI schemes is available. there are 20 schemes listed as of now.

[2016-11-15 17:29] dret commented on #5
for reference: http://webconcepts.info/concepts/http-preferences is where the list of HTTP preferences lives at webconcepts. it lists all the four concepts currently registered. afaik, @inadarei is working on a new one in a draft, but it hasn't been published yet. closing this issue for now.

[2016-11-15 17:29] #5 closed

[2016-11-29 00:50] dret commented on #22
good enough for know, more values can be added when needed.

[2016-11-29 00:50] #22 closed, assigned to nobody

[2016-11-29 00:52] dret commented on #32
assuming that this was good enough for @nynymike, and closing the issue (feel free to reopen if it wasn't).

[2016-11-29 00:52] #32 closed, assigned to nobody

[2016-11-29 00:54] dret commented on #24
currently leaning towards using the `http://webconcepts.info/concepts/http-method/GET` approach, which is robust (global identifier) and works as a link (dereferences to a representation).

[2016-11-29 00:56] dret commented on #18
closing this for now; please re-open if further discussion is required.

[2016-11-29 00:56] #18 closed, assigned to nobody

[2016-11-29 00:56] dret commented on #23
good enough for now, and more schemes can be added when needed.

[2016-11-29 00:56] #23 closed, assigned to nobody

[2016-12-05 22:27] dret commented on #1
all of this goes way past the ideal "service surface" targeted with web concepts, and more into specific design aspects of media types. it should best be kept out of web concepts.

[2016-12-05 22:27] #1 closed

[2016-12-06 02:29] dret commented on #25
i am working on factoring in both @arno-di-loreto's and @mitraman's feedback. this may break stuff on your end, but in the end should result in a better hierarchy of URIs (as suggested by @arno-di-loreto) and more straightforward URIs (@mitraman).
maybe this issue is a bit much for tracking all these things. if you do have issues after the refactoring, please open separate issues. thanks!

[2016-12-06 05:42] dret commented on #25
some of the things i have broken so far (more to come):

* rename `http-status` to `http-status-code`
* rename `http-auth-scheme` to `http-authentication-scheme`

[2016-12-08 01:51] dret commented on #13
this issue was resolved a while ago. new concepts should be requested as individual issues.

[2016-12-08 01:51] #13 closed

[2016-12-13 04:04] dret commented on #24
this is related to #25 which will change some URIs, but overall the important aspect is to use referencable URIs as concept/value identifiers.

[2016-12-13 07:05] dret commented on #25
after trying to address @arno-di-loreto's issue for a while, i had to give up. http://stackoverflow.com/questions/41113834/can-jekyll-serve-files-when-a-directory-of-the-same-name-exists is my problem, and if anybody knows how to solve this for jekyll, i'd be very happy to hear about it. thanks!

[2016-12-15 19:05] dret commented on #25
all hail stackoverflow! http://stackoverflow.com/questions/41113834/can-jekyll-serve-files-when-a-directory-of-the-same-name-exists/41137216 now has an answer and i am going to implement and test that. if this works, this means URIs are going to change (in the JSON data as well as on the web site), potentially breaking code that's out there. after this is done, i am going to close this issue becau

[2016-12-15 19:51] dret opened #34 "Switch site and URIs to HTTPS?"
while i am working on making the JSON more stable and adding documentation to the site, i am wondering if switching everything to HTTPS would be an appropriate move. it seems that HTTP URIs (and sites supporting plain HTTP) are becoming a bit old-fashioned. when switching the site to HTTPS, then probably all URIs should be switched as well, so that they still work as dereferencable URIs (see #24 f

[2016-12-15 20:00] dret commented on #25
http://webconcepts.info/update/2016/12/15/hackable-concept-URIs.html summarizes the changes that went live with the last commits. this closes this issue.

[2016-12-15 20:00] #25 closed, assigned to dret

[2016-12-15 23:18] dret commented on #28
more generally speaking (after changing the issue title), it would be good to come up with some guidance on which description/definition of a concept value is the "main" one, if there is more than one. the problem is that this is hard to decide and manage across specifications.

[2016-12-15 23:31] dret commented on #25
http://webconcepts.info/JSON is some documentation for the concept JSON format.

[2016-12-21 19:11] tpluscode opened #35 "Include spec id in concepts.json"
I'd like to include the spec signature with each concept in `concepts.json` (see pmhsfelix/slack-web-concept#6) so that it's not necessary to fetch and process `specs.json` every time. Ofc it would be possible to cache it but its structure isn't too friendly for finding the right spec anyway.

I would add a simple key/value to each spec in the format `"{organization} {series} {spec}"` (not sure I'

[2016-12-21 19:57] dret commented on #35
the current complete JSON structure as documented at http://webconcepts.info/JSON looks like this:

[code]

looking at http://webconcepts.info/specs/specs.json what you called `specification-signature` is simply called `name` over there. i am not saying that `name` is a great name (;-), but i think it would be good to stay consistent.

however, the `name` for RFC 7231 is currently appearing as `"R

[2016-12-21 20:01] dret opened #36 "spec.json should identify concepts and concept values by URI"
currently `spec.json` "identifies" concepts and values by string value only:

[code]

this seems wrong because both concept and concept value should be identified by their ID (their URIs) as documented at http://webconcepts.info/JSON. i am inclined to just fix this, but wanted to see if anybody is using these values, and what they think about switching from plain strings to proper URIs.

[2016-12-21 20:04] tpluscode commented on #35
Sure, it's enough. People rarely refer to the organization anyways when talking about those specifications, don't they?

I somehow missed `name`. I was looking at the complete path which you would get by concatenating the keys in `specs.json`. So, yes let's just got with that name and call it `specification-name`?

[2016-12-21 20:08] dret commented on #36
pinging @kinlane @arno-di-loreto @pmhsfelix @mitraman because you might be using this?

[2016-12-21 20:39] arno-di-loreto commented on #36
I'm not using webconcepts yet (on my Christmas holidays todo list! ), so no problem for me.

[2016-12-22 02:38] dret commented on #35
the new member `spec-name` is implemented and documented. please close the issue if it works for you.

[2016-12-22 02:40] dret commented on #36
this issue is related to #24 which is about how to identify concepts (and values).

[2016-12-22 03:25] dret commented on #36
On 2016-12-21 12:39, Arnaud Lauret wrote:

happy holidays, and if there's any wish you have for web concepts, this
is the time of the year to get them fulfilled!

[2016-12-22 09:18] tpluscode commented on #35
Works great. Thanks.

[2016-12-22 09:18] #35 closed, assigned to dret

[2016-12-31 19:43] dret commented on #36
https://github.com/dret/webconcepts/commit/ffb2afcad5872748bbff86a671b5d581111fab10 should fix this.

[2016-12-31 19:43] #36 closed, assigned to dret

[2016-12-31 19:46] dret commented on #24
closing this as referenceable URIs probably make the most sense and have been in use for a while now. and nobody has been asking for anything else.

[2016-12-31 19:46] #24 closed, assigned to dret

[2017-01-01 21:21] dret opened #37 "add organization URI to JSON"
the current specification JSON data structure `specs.json` does not include the link to an organization's home page. this could be added easily by using the data that's available in the XML configuration file.

[2017-01-01 21:53] dret opened #38 "make specification JSON more self-contained"
the current way how specifications list concepts is by URIs (as fixed in #36). this is correct, but means that there no easy way to get concept information from the JSON.

[code]

the proposal is to make this a bit more self-contained by adding the concept name and value, resulting in something like this:

[code]

this would be a breaking change. @kinlane @mogsie @tpluscode @mitraman @bigbluehat @

[2017-01-01 21:58] tpluscode commented on #38
@pmhsfelix can also have something to say

[2017-01-01 22:22] dret commented on #38
while documenting the JSON structure it just occurred to me that the current design is really bad, because it creates repeated member names when a specification defines more than one value for a concept. this means that the current design creates correct but rather questionable JSON. this will have to change better sooner than later.

[2017-01-25 19:56] BigBlueHat commented on #38
Changing the structure isn't going to throw me off (currently) and the new layout does seem considerably more informative. 😃

[2017-04-26 12:21] dret opened #39 "vertical bar (|) in text breaks MD tables"
when using vertical bar characters (|) in tables, they are copied unescaped to the generated MD files. this breaks tables which are using vertical bars to separate table columns. vertical bars should be escaped before copying text into MD tables.

[2017-04-27 10:41] dret opened #40 "escape web concept values"
individual web concept values should be escaped in the web concept URIs. this would avoid problems with values that have slashes (such as media types) or hash signs (such as some profile URIs). while not so hard to do in principle, this causes problems with jekyll and github pages. https://github.com/jekyll/jekyll/issues/6052 has been raised to address these problems, but this might take a while t

[2017-04-27 10:42] dret opened #41 "add JSON-LD profile URIs"
https://github.com/dret/webconcepts/commit/3b3d3f7e4f0ebc773758b6dcaafe1c3739ef8075 adds JSON-LD profile URIs but only as comments because currently these cannot be processed. this might have to wait until https://github.com/dret/webconcepts/issues/40 has been resolved or at least addressed in some way that makes it possible to use web concept values that contain reserved URI characters.

[2017-05-02 19:20] dret opened #42 "If/how to add "non-standard" concepts"
would it make sense to start adding "non-standard concepts" such as the `X-RateLimit-Limit`, `X-RateLimit-Remaining`, and `X-RateLimit-Reset` HTTP header fields defined by https://developer.github.com/v3/#pagination? it might be useful to have a place where these are made available, but maybe the main site is not the best place? would it make sense to add a complete "parallel universe" of propriet

[2017-06-26 07:06] dret opened #43 "description for "http-opportunistic" well-known URI"
i wasn't able to glean a good one or two sentences description about the `http-opportunistic` well-known URI from RFC 8164. @mnot, if you think you can come up with one to appear on http://webconcepts.info/concepts/well-known-uri/http-opportunistic, that would be great. thanks!
the source file is https://github.com/dret/webconcepts/blob/gh-pages/src/specs/rfc8164.xml but i can of course take care

[2017-09-14 18:17] dret opened #44 "add usage information for individual values"
there should be a way how data can be added that talks about how individual concept values are used in concrete services: it would be something along the lines of being able to say, "API X uses HTTP request method `GET` and HTTP status codes `200` and `404`."
This has been discussed with @mitraman and @RubenVerborgh and it would be great to get some feedback or even use cases from them. for now, t

[2017-09-18 08:20] olberger commented on #11
It is strange to see the link to HTML4 on the frontpage... whenever HTML5 seems to be the current version (unless I'm mistaken). Maybe this issue applies, then.

[2017-09-18 15:29] dret commented on #11
On 2017-09-18 04:20, Olivier Berger wrote:

thanks for the nudge. i should have done that a long time ago. it's a
bit odd because HTML5 does not define *all* the concepts that HTML4
defined, but of course most of them, and some more. so for now there is
HTML4 still in there, but marked with a version, and a generic HTML
which currently represents HTML5. and the link on the front page has
been chan

[2017-09-18 16:15] dret commented on #11
closing after adding the last missing HTML5 media type: https://github.com/dret/webconcepts/commit/3c1406a1d22fecb1b5dad71d1f028654327b28a8

[2017-09-18 16:15] #11 closed

[2017-09-30 08:21] dret opened #46 "add mouseover link text to concept values"
on concept pages, in the right-hand column of the table of values, the specification link does have the specification abstract as mouseover link text. it would be useful to have the concept value documentation text as mouseover link text in the left-hand column of the concept page tables.

[2017-09-30 09:14] dret commented on #46
http://webconcepts.info/concepts/link-relation/ and the second entry there (`alternate`) show a little complication: there*is* a mouseover text used already, but only for those rare cases where there is more that one definition. this could probably be solved in a way different from a mouseover text, so that mouseover indeed could show the definition. but for more than one definition, one text woul

[2017-10-09 08:40] dret opened #47 "add RFC 3688 concepts"
https://tools.ietf.org/html/rfc3688 defines registries for DTD public identifiers, XML namespaces, XML schemas, and RDF schemas. all of these are intended as registries for identifiers, and (in case of URI identifiers) intentionally are designed to use URNs, so that it is clear that they are intended to be identifiers.
all of these concepts probably would make sense to be included in web concepts.

[2018-02-22 10:23] dret opened #48 "checking for concept value correctness"
https://github.com/dret/webconcepts/commit/a1f412d78743f536e5c4d132d4dc557a81208e1f was a case where a concept value (a media type in this case) contained spurious whitespace. ideally, this would be caught while processing, either by trimming whitespace automatically, or probably even better by checking concept values against some form of value pattern (maybe a regex?). that way, it would be easie

[2018-06-08 13:51] annevk opened #49 "Downlink header isn't linked correctly"
Not sure where it's documented now though...

[2018-06-08 13:52] annevk commented on #49
Ah, https://wicg.github.io/netinfo/#downlink-request-header-field

[2018-06-08 14:09] dret commented on #49
On 2018-06-08 15:51, Anne van Kesteren wrote:

thanks for the note. but it seems that
https://tools.ietf.org/html/draft-ietf-httpbis-client-hints-05 is a
current draft? any thoughts or comments, @igrigorik?

[2018-06-08 14:12] annevk commented on #49
That draft notes downlink got removed.

[2018-06-08 14:19] dret commented on #49
On 2018-06-08 16:12, Anne van Kesteren wrote:

aha. thanks, i looked at it a while ago.

[2018-06-08 14:24] dret commented on #49
i am just being lazy here, because the current machinery doesn't support the type of document you were linking to: is that document going to enter the regular @w3c TR track anytime soon? if so, i will probably be lazy and just wait for that. if not, i may have to tweak the machinery a little... thanks!

[2018-06-08 14:26] annevk commented on #49
I suspect Ilya will know that. I do think Chrome may already emit this header.

[2018-06-08 15:34] igrigorik commented on #49
NetInfo is under WICG, it's not possible to link that?

Re, Downlink status: https://www.chromestatus.com/feature/5407907378102272

[2018-06-08 15:50] dret commented on #49
On 2018-06-08 16:26, Anne van Kesteren wrote:

interesting. that sounds a little as if we see this document entering
the @w3c TR track in the not-too-distant future. in that case i might go
the lazy route... ;-)

[2018-06-08 15:53] dret commented on #49
On 2018-06-08 17:35, Ilya Grigorik wrote:

it's just a limitation of how i've built web concepts. i could change
it, but prefer not to...

[2018-06-08 16:06] igrigorik commented on #49
It's been in WICG for the last 3+ years, I don't expect that to change in the short term.

[2018-06-08 16:43] dret commented on #49
On 2018-06-08 18:06, Ilya Grigorik wrote:

bad news for me, then. i'll try to get to that asap.

[2018-10-22 12:16] dret opened #50 "add "Token Binding Protocol" registries/concepts (RFC 8471)"
three new registries/concepts have been introduced by https://tools.ietf.org/html/rfc8471 :

- Token Binding Key Parameters
- Token Binding Types
- Token Binding Extensions

all of these could be added as new web concept types.

[2019-06-03 15:26] smizell opened #52 "Defining API Standards with Web Concepts"
I wanted to share a little idea I had a while back that feels inline with the spirit of this project. It came up as we were defining API standards at work. My observations were:

1. **We rarely used an entire standard**. For instance, for conditional requests, we said that `Etag` was a MUST and last modified was a MAY.
1. **The standards were made to be broader than what was used in APIs**. Back t

[2019-06-03 18:38] dret commented on #52
On 2019-06-03 17:26, Stephen Mizell wrote:

thanks, that's an interesting observation. my very first draft actually
had a "description" member in there to describe how the concept is used.
would that be something you would find useful? an optional member for a
human-readable description of the concept's use in the API?

generally speaking, please keep in mind that web concepts works on the
level o

[2019-06-03 20:58] smizell commented on #52
I think I see it how you are describing things. People are interested in using specific concepts from larger standards and not necessarily the standard as a whole. For example, to narrow my example even further, someone may support `Etag` only on `GET` requests but not use it for `PUT` or `DELETE` for whatever reason. To some, that may not be useful, but it was part of the conversation. I think fo

[2019-06-18 04:25] dret commented on #52
On 2019-06-03 13:58, Stephen Mizell wrote:

the goal of webconcepts isn't to capture every single constraint that
people might choose to define. it is simply to give them a way to
identify and document the topics that they use. if you want to find out
*exactly* how they are used, in many cases you will have to go to the
documentation and find out all the details.

well, i'd simply say that
http://

[2019-06-18 16:46] smizell commented on #52
That makes sense. As you describe it, I can see it as a building block for standards. I'll explore that idea in the future. Thanks for taking the time to share your thoughts on this.

[2019-06-18 16:46] #52 closed, assigned to nobody

[2019-07-31 09:53] ioggstream opened #53 "New I-D: draft-ietf-httpbis-digest-headers"
## I wish

To reference https://github.com/httpwg/http-extensions/blob/master/draft-ietf-httpbis-digest-headers.md in your list of web-concepts.

## This spec

Will obsolete RFC 3230, which defines `Digest` and `Want-Digest`.

[2019-08-01 18:18] dret commented on #53
On 2019-07-31 02:53, Roberto Polli wrote:

i could add it, but it seems that from the definition point of view,
those two headers are still defined by RFC 3230, right? if that's the
case, it may make sense to wait until the RFC is obsoleted? or do you
think it would make sense to reference the I-D already?

[2019-08-02 15:59] ioggstream commented on #53
Yes, but their definition is inconsistent with RFC723x because
of the `entity -> representation` changes.

That depends on the web-concepts policy :)

While I hope that I-D to go RFC by 2020,
it's important that people using RFC3230 knows that it could become obsoleted and get in touch with us.

Always thanks for your time, R.

[2019-08-02 17:09] dret commented on #53
On 2019-08-02 08:59, Roberto Polli wrote:

ok, i have added the draft.
http://webconcepts.info/specs/IETF/I-D/ietf-httpbis-digest-headers is
where you can find it, and it lists the two header fields as requested.

[2019-08-03 14:40] ioggstream commented on #53
Thanks Erik! :rocket:

[2019-08-03 14:40] #53 closed, assigned to nobody

[2020-05-18 13:15] jrencz opened #58 "Add Well Known URI: change-password"
As described in https://wicg.github.io/change-password-url/

[2021-10-03 09:05] dret opened #59 "Renaming "HTTP Header Field" to "HTTP Field""
wondering what to do about this. renaming the concept could lead to a lot of breakage out there, but then again the reality is that with HTTP/2 and HTTP/3, the "header field" concept now had been replaced by "field" because there can be trailers as well.

[2021-10-03 09:08] dret commented on #59
the new IANA registry created this week also makes the evolution of the concept very clear in its name: https://www.iana.org/assignments/http-fields/http-fields.xhtml

[2021-10-03 09:09] dret commented on #59
since i know that you're using it, @arno-di-loreto, i am wondering how you feel about this.

[2022-06-07 06:34] dret opened #64 "Switching to new IANA registry for HTTP fields"
the new HTTP RFCs have created a separate registry for HTTP fields at https://www.iana.org/assignments/http-fields/http-fields.xhtml. all links to the old, generic message headers registry at https://www.iana.org/assignments/message-headers/message-headers.xhtml should be updated to point to the new registry.